<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.application.ApplicationMapper">
  <resultMap id="ApplicationMap" type="org.edgegallery.developer.model.application.Application">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <result property="version" column="version"/>
    <result property="provider" column="provider"/>
    <result property="architecture" column="architecture"/>
    <result property="appClass" column="app_class"/>
    <result property="type" column="type"/>
    <result property="industry" column="industry"/>
    <result property="iconFileId" column="icon_file_id"/>
    <result property="guideFileId" column="guide_file_id"/>
    <result property="appCreateType" column="app_create_type"/>
    <result property="createTime" column="create_time"/>
    <result property="status" column="status"/>
    <result property="userId" column="user_id"/>
    <result property="userName" column="user_name"/>
    <result property="mepHostId" column="mep_host_id"/>
  </resultMap>

  <sql id="ApplicationAllColumn">
    id, name, description, version, provider, architecture, app_class, type, industry, icon_file_id, guide_file_id, app_create_type, create_time, user_id, user_name, status, mep_host_id
  </sql>

  <insert id="createApplication">
    insert into tbl_application (id, name, description, version, provider, architecture, app_class, type, industry, icon_file_id, guide_file_id, app_create_type, create_time, user_id, user_name, status)
    values
    ( #{id}, #{name}, #{description}, #{version}, #{provider}, #{architecture}, #{appClass},  #{type}, #{industry}, #{iconFileId}, #{guideFileId},
    #{appCreateType}, now(), #{userId}, #{userName}, #{status})
  </insert>

  <update id="modifyApplication" parameterType="org.edgegallery.developer.model.application.Application">
    UPDATE
    tbl_application
    SET
    name = #{name}, description = #{description}, version = #{version}, provider = #{provider}, architecture = #{architecture},
    app_class = #{appClass}, type = #{type}, industry = #{industry}, icon_file_id = #{iconFileId}, guide_file_id = #{guideFileId}, app_create_type = #{appCreateType}
    WHERE
    id = #{id}
  </update>

  <update id="modifyMepHostById" >
    UPDATE
    tbl_application
    SET
    mep_host_id = #{hostMepId}
    WHERE
    id = #{applicationId}
  </update>

  <update id="updateApplicationStatus" >
    UPDATE
    tbl_application
    SET
    status = #{status}
    WHERE
    id = #{applicationId}
  </update>

  <delete id="deleteApplication" parameterType="String">
    DELETE FROM tbl_application WHERE id = #{id};
  </delete>

  <select id="getAllApplications" resultMap="ApplicationMap">
    SELECT
    id, name, description, version, provider, architecture, app_class, type, industry, icon_file_id, guide_file_id,
    app_create_type, to_char(create_time, 'YYYY-MM-DD HH24:MI:SS') as create_time, user_id, user_name, status, mep_host_id
    FROM tbl_application
  </select>

  <select id="getAllApplicationsByUserId" parameterType="String" resultMap="ApplicationMap">
    SELECT
    id, name, description, version, provider, architecture, app_class, type, industry, icon_file_id, guide_file_id,
    app_create_type, to_char(create_time, 'YYYY-MM-DD HH24:MI:SS') as create_time, user_id, user_name, status, mep_host_id
    FROM tbl_application
    <where>
      <if test="userId != null and userId != ''">
        and user_id = #{userId}
      </if>
      <if test="name != null and name != ''">
        and name like  CONCAT('%',#{name},'%')
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="getApplicationById" parameterType="String" resultMap="ApplicationMap">
    SELECT
    id, name, description, version, provider, architecture, app_class, type, industry, icon_file_id, guide_file_id,
    app_create_type, to_char(create_time, 'YYYY-MM-DD HH24:MI:SS') as create_time, user_id, user_name, status, mep_host_id
    FROM tbl_application where id = #{id}
  </select>

</mapper>