<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.capability.CapabilityGroupMapper">
    <resultMap id="CapabilityGroup" type="org.edgegallery.developer.model.capability.CapabilityGroup">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nameEn" column="name_en"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>
        <result property="descriptionEn" column="description_en"/>
        <result property="iconFileId" column="icon_file_id"/>
        <result property="author" column="author"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="AllColumn">
    id,name,name_en,type,description,description_en,icon_file_id,author,create_time,update_time
    </sql>

    <select id="selectAll" resultMap="CapabilityGroup">
        SELECT <include refid="AllColumn"/> FROM tbl_capability_group
    </select>
    
    <select id="selectByType" parameterType="String" resultMap="CapabilityGroup">
        SELECT <include refid="AllColumn"/> FROM tbl_capability_group where type=#{type}
    </select>
    
    <select id="selectByNameOrNameEn" resultMap="CapabilityGroup">
        SELECT <include refid="AllColumn"/> FROM tbl_capability_group
        <where>
          <if test="name != null">
            or name=#{name}
          </if>
          <if test="nameEn != null">
            or name_en=#{nameEn}
          </if>   
        </where>
    </select>
    
    <select id="selectById" parameterType="String" resultMap="CapabilityGroup">
        SELECT <include refid="AllColumn"/> FROM tbl_capability_group where id=#{id}
    </select>
    
    <select id="selectByName" parameterType="String" resultMap="CapabilityGroup">
        SELECT <include refid="AllColumn"/> FROM tbl_capability_group where name=#{name}
    </select>    
    
    <insert id="insert" parameterType="org.edgegallery.developer.model.capability.CapabilityGroup">
        insert into tbl_capability_group (<include refid="AllColumn"/>)
        values 
        ( #{id}, #{name}, #{nameEn}, #{type}, #{description}, #{descriptionEn}, #{iconFileId}, #{author}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteGroup" parameterType="String">
        DELETE FROM tbl_openmep_capability_detail WHERE group_id = #{groupId};
        DELETE FROM tbl_openmep_capability WHERE group_id = #{groupId};
    </delete>

    <delete id="deleteById" parameterType="String">
        DELETE FROM tbl_capability_group WHERE id = #{id};
    </delete>

</mapper>