<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.application.container.ContainerAppInstantiateInfoMapper">
  <resultMap id="ContainerAppInstantiateInfoMap" type="org.edgegallery.developer.model.instantiate.container.ContainerAppInstantiateInfo">
    <result property="operationId" column="operation_id"/>
    <result property="appPackageId" column="app_package_id"/>
    <result property="distributedMecHost" column="distributed_mec_host"/>
    <result property="mepmPackageId" column="mepm_package_id"/>
    <result property="appInstanceId" column="app_instance_id"/>
    <result property="status" column="status"/>
    <result property="log" column="log"/>
    <result property="instantiateTime" column="instantiate_time"/>
  </resultMap>

  <resultMap id="K8sPodMap" type="org.edgegallery.developer.model.instantiate.container.K8sPod">
    <id property="name" column="name"/>
    <result property="podStatus" column="pod_status"/>
    <result property="eventsInfo" column="events_info"/>
  </resultMap>

  <resultMap id="K8sServiceMap" type="org.edgegallery.developer.model.instantiate.container.K8sService">
    <id property="name" column="name"/>
    <result property="type" column="type"/>
  </resultMap>

  <resultMap id="ContainerMap" type="org.edgegallery.developer.model.instantiate.container.Container">
    <id property="name" column="name"/>
    <result property="cpuUsage" column="cpu_usage"/>
    <result property="memUsage" column="mem_usage"/>
    <result property="diskUsage" column="disk_usage"/>
  </resultMap>

  <resultMap id="K8sServicePortMap" type="org.edgegallery.developer.model.instantiate.container.K8sServicePort">
    <id property="port" column="port"/>
    <result property="targetPort" column="target_port"/>
    <result property="nodePort" column="node_port"/>
  </resultMap>

<!--  <resultMap id="ContainerAppInstantiateInfoMap" type="org.edgegallery.developer.model.instantiate.container.ContainerAppInstantiateInfo">-->
<!--    <result property="appPackageId" column="app_package_id"/>-->
<!--    <result property="appInstanceId" column="app_instance_id"/>-->
<!--    <result property="status" column="status"/>-->
<!--    <result property="log" column="log"/>-->
<!--    <result property="instantiateTime" column="instantiate_time"/>-->
<!--    <collection property="pods"-->
<!--      ofType="org.edgegallery.developer.model.instantiate.container.K8sPod">-->
<!--      <result property="name" column="name"/>-->
<!--      <result property="podStatus" column="pod_status"/>-->
<!--      <result property="eventsInfo" column="events_info"/>-->
<!--    </collection>-->
<!--  </resultMap>-->

  <sql id="ContainerAppInstantiateInfoAllColumn">
    app_id, operation_id, app_package_id, distributed_mec_host, mepm_package_id, app_instance_id, status, log, instantiate_time
  </sql>

  <sql id="K8sPodAllColumn">
    name, app_id, pod_status, events_info
  </sql>

  <sql id="K8sServiceAllColumn">
    name, app_id, type
  </sql>

  <sql id="ContainerAllColumn">
    name, pod_name, cpu_usage, mem_usage, disk_usage
  </sql>

  <sql id="K8sServicePortAllColumn">
    port, service_name, target_port, node_port
  </sql>

  <insert id="createContainerAppInstantiateInfo">
    insert into tbl_container_app_instantiate_info (app_id, operation_id, app_package_id, distributed_mec_host, app_instance_id, status, log, instantiate_time)
    values
    (#{applicationId}, #{containerAppInstantiateInfo.operationId}, #{containerAppInstantiateInfo.appPackageId}, #{containerAppInstantiateInfo.distributedMecHost}, #{containerAppInstantiateInfo.appInstanceId},
    #{containerAppInstantiateInfo.status}, #{containerAppInstantiateInfo.log}, #{containerAppInstantiateInfo.instantiateTime})
  </insert>

  <update id="modifyContainerAppInstantiateInfo">
    UPDATE
    tbl_container_app_instantiate_info
    SET
    operation_id = #{containerAppInstantiateInfo.operationId},
    app_package_id = #{containerAppInstantiateInfo.appPackageId}, distributed_mec_host = #{containerAppInstantiateInfo.distributedMecHost},
    mepm_package_id = #{containerAppInstantiateInfo.mepmPackageId},
    app_instance_id = #{containerAppInstantiateInfo.appInstanceId},
    status = #{containerAppInstantiateInfo.status}, log = #{containerAppInstantiateInfo.log},
    instantiate_time = #{containerAppInstantiateInfo.instantiateTime}
    WHERE
    app_id = #{applicationId}
  </update>

  <delete id="deleteContainerAppInstantiateInfoByAppId" parameterType="String">
    DELETE FROM tbl_container_app_instantiate_info WHERE app_id = #{applicationId};
    DELETE FROM tbl_k8s_pod_instantiate_info WHERE app_id = #{applicationId};
    DELETE FROM tbl_k8s_service_instantiate_info WHERE app_id = #{applicationId};
  </delete>

  <select id="getContainerAppInstantiateInfoAppId" parameterType="String" resultMap="ContainerAppInstantiateInfoMap">
    SELECT
    <include refid="ContainerAppInstantiateInfoAllColumn"/>
    FROM tbl_container_app_instantiate_info where app_id = #{applicationId}
  </select>

  <insert id="createK8sPod">
    insert into tbl_k8s_pod_instantiate_info (name, app_id, pod_status, events_info)
    values
    ( #{k8sPod.name}, #{applicationId}, #{k8sPod.podStatus}, #{k8sPod.eventsInfo})
  </insert>

  <delete id="deleteK8sPodByAppId" parameterType="String">
    DELETE FROM tbl_k8s_pod_instantiate_info WHERE app_id = #{applicationId};
  </delete>

  <select id="getK8sPodsByAppId" parameterType="String" resultMap="K8sPodMap">
    SELECT
    <include refid="K8sPodAllColumn"/>
    FROM tbl_k8s_pod_instantiate_info where app_id = #{applicationId}
  </select>

  <insert id="createContainer">
    insert into tbl_container_instantiate_info (name, pod_name, cpu_usage, mem_usage, disk_usage)
    values
    ( #{container.name}, #{podName}, #{container.cpuUsage}, #{container.memUsage}, #{container.diskUsage})
  </insert>

  <delete id="deleteContainerByPodName" parameterType="String">
    DELETE FROM tbl_container_instantiate_info WHERE pod_name = #{podName};
  </delete>

  <select id="getContainersByPodName" parameterType="String" resultMap="ContainerMap">
    SELECT
    <include refid="ContainerAllColumn"/>
    FROM tbl_container_instantiate_info where pod_name = #{podName}
  </select>

  <insert id="createK8sService">
    insert into tbl_k8s_service_instantiate_info (name, app_id, type)
    values
    ( #{k8sService.name}, #{applicationId}, #{k8sService.type})
  </insert>

  <delete id="deleteK8sServiceByAppId" parameterType="String">
    DELETE FROM tbl_k8s_service_instantiate_info WHERE app_id = #{applicationId};
  </delete>

  <select id="getK8sServiceByAppId" parameterType="String" resultMap="ContainerMap">
    SELECT
    <include refid="K8sServiceAllColumn"/>
    FROM tbl_k8s_service_instantiate_info where app_id = #{applicationId}
  </select>

  <insert id="createK8sServicePort">
    insert into tbl_k8s_service_port_instantiate_info (port, service_name, target_port, node_port)
    values
    ( #{k8sServicePort.port}, #{k8sServiceName}, #{k8sServicePort.targetPort}, #{k8sServicePort.nodePort})
  </insert>

  <delete id="deleteK8sServicePortByK8sServiceName" parameterType="String">
    DELETE FROM tbl_k8s_service_port_instantiate_info WHERE service_name = #{k8sServiceName};
  </delete>

  <select id="getK8sServicePortsByK8sServiceName" parameterType="String" resultMap="ContainerMap">
    SELECT
    <include refid="K8sServicePortAllColumn"/>
    FROM tbl_k8s_service_port_instantiate_info where service_name = #{k8sServiceName}
  </select>
</mapper>