<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.HelmTemplateYamlMapper">

    <resultMap id="TemplateYamlMap" type="org.edgegallery.developer.model.workspace.HelmTemplateYamlPo">
        <id property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="userId" column="user_id"/>
        <result property="projectId" column="project_id"/>
        <result property="content" column="content"/>
        <result property="uploadTimeStamp" column="upload_time_stamp"/>
        <result property="configType" column="config_type"/>
    </resultMap>

    <insert id="saveYaml" parameterType="org.edgegallery.developer.model.workspace.HelmTemplateYamlPo">
        INSERT INTO
        tbl_helm_template_yaml (file_id, file_name, user_id, project_id, content, upload_time_stamp,config_type)
        VALUES
        ( #{fileId}, #{fileName}, #{userId}, #{projectId}, #{content}, #{uploadTimeStamp},#{configType})
    </insert>

    <select id="queryTemplateYamlByProjectId" resultMap="TemplateYamlMap">
        SELECT
        *
        FROM tbl_helm_template_yaml
        WHERE user_id = #{param1} AND project_id = #{param2}
    </select>

    <select id="queryTemplateYamlByType" resultMap="TemplateYamlMap">
        SELECT
        *
        FROM tbl_helm_template_yaml
        WHERE file_id = #{param1} AND config_type = #{param2}
    </select>

    <update id="updateHelm" parameterType="org.edgegallery.developer.model.workspace.HelmTemplateYamlPo">
        update tbl_helm_template_yaml set
        content = #{content}
        where file_id = #{fileId}
    </update>

    <delete id="deleteYamlByFileId" parameterType="java.lang.String">
        DELETE FROM
        tbl_helm_template_yaml
        WHERE
        file_id = #{fileId}
    </delete>
</mapper>