<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.HostMapper">
    <resultMap id="HostMap"
               type="org.edgegallery.developer.model.resource.MepHost">
        <id property="hostId" column="host_id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="architecture" column="architecture"/>
        <result property="status" column="status"/>
        <result property="protocol" column="protocol"/>
        <result property="lcmIp" column="lcm_ip"/>
        <result property="mecHost" column="mec_host"/>
        <result property="port" column="port"/>
        <result property="os" column="os"/>
        <result property="portRangeMin" column="port_range_min"/>
        <result property="portRangeMax" column="port_range_max"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="vncPort" column="vnc_port"/>
        <result property="parameter" column="parameter"/>
        <result property="resource" column="resource"/>
    </resultMap>

    <sql id="AllColumn">
        host_id, user_id, name, address, architecture, status, protocol, lcm_ip, mec_host, os, port_range_min,
        port_range_max,port, user_name, password,delete, parameter, vnc_port, resource
    </sql>

    <insert id="createHost"
            parameterType="org.edgegallery.developer.model.workspace.MepCreateHost">
        insert into
        tbl_service_host (host_id, user_id, name, address, architecture, status, lcm_ip, mec_host, port, os,
        port_range_min, port_range_max, protocol, user_name, password, vnc_port, parameter, resource)
        values
        ( #{hostId}, #{userId}, #{name}, #{address}, #{architecture}, #{status}, #{lcmIp}, #{mecHost},
        #{port}, #{os}, #{portRangeMin}, #{portRangeMax}, #{protocol}, #{userName}, #{password}, #{vncPort},
        #{parameter}, #{resource})
    </insert>

    <select id="getAllHosts" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host
    </select>

    <select id="getHostsByUserId" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host WHERE user_id = #{userId}
    </select>

    <select id="getHostsByStatus" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host
        WHERE status = #{param1} and architecture = #{param2} and os = #{param3}
    </select>

    <select id="getNormalHosts" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host
        WHERE status = 'NORMAL'
    </select>

    <select id="getHost" parameterType="java.lang.String" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host
        WHERE host_id = #{hostId}
    </select>

    <select id="getCreateHost" parameterType="java.lang.String" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host
        WHERE host_id = #{hostId}
    </select>

    <update id="updateHost" parameterType="org.edgegallery.developer.model.resource.MepHost">
        UPDATE tbl_service_host
        SET ip=#{ip}, port=#{port}
        WHERE user_id = #{userId}
    </update>

    <update id="updateHostSelected" parameterType="org.edgegallery.developer.model.resource.MepHost">
        UPDATE tbl_service_host
        <set>
            <if test="lcmIp != null">
                lcm_ip=#{lcmIp},
            </if>
            <if test="mecHost != null">
                mec_host=#{mecHost},
            </if>
            <if test="port != null">
                port=#{port},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="architecture != null">
                architecture=#{architecture},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="os != null">
                os=#{os},
            </if>
            <if test="portRangeMin != null">
                port_range_min=#{portRangeMin},
            </if>
            <if test="portRangeMax != null">
                port_range_max=#{portRangeMax},
            </if>
            <if test="protocol != null">
                protocol=#{protocol},
            </if>
            <if test="userName != null">
                user_name=#{userName},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="vncPort != null">
                vnc_port=#{vncPort},
            </if>
            <if test="parameter != null">
                parameter=#{parameter}
            </if>
            <if test="resource != null">
                resource=#{resource}
            </if>
        </set>
        WHERE host_id = #{hostId}
    </update>

    <delete id="deleteHost" parameterType="java.lang.String">
        DELETE FROM tbl_service_host WHERE host_id = #{hostId}
    </delete>

    <select id="getHostsByCondition" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host WHERE 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="ip != null">
            and lcm_ip = #{ip}
        </if>
        <if test="name != null">
            and name like CONCAT('%',#{name},'%')
        </if>
        order by ROW_NUMBER () OVER() desc
    </select>

    <select id="selectHostsByCondition" resultMap="HostMap">
        SELECT
        <include refid="AllColumn"/>
        FROM tbl_service_host WHERE 1=1
        <if test="os != null and os !=''">
            <if test="os=='container'.toString()">
                and os = 'K8S'
            </if>
            <if test="os=='vm'.toString()">
                and os != 'K8S'
            </if>
        </if>
        <if test="architecture != null and architecture !=''">
            and architecture = #{architecture}
        </if>
        order by ROW_NUMBER () OVER() desc
    </select>

</mapper>