<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.SystemImageMapper">
    <resultMap id="ImageMap" type="org.edgegallery.developer.model.system.VmSystem">
        <id property="systemId" column="system_id"/>
        <result property="systemName" column="system_name"/>
        <result property="fileName" column="file_name"/>
        <result property="type" column="type"/>
        <result property="operateSystem" column="operate_system"/>
        <result property="version" column="version"/>
        <result property="systemBit" column="system_bit"/>
        <result property="systemDisk" column="system_disk"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="systemFormat" column="system_format"/>
        <result property="systemSize" column="system_size"/>
        <result property="systemSlim" column="system_slim"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="status" column="status"/>
        <result property="fileIdentifier" column="file_identifier"/>
        <result property="errorType" column="error_type"/>
    </resultMap>
    
    <sql id="AllColumn">
    system_id, system_name, type, operate_system, version, system_bit, system_disk, user_id, user_name, create_time,modify_time, system_format,system_size, system_slim, upload_time,system_path,file_name,file_md5,status,file_identifier,error_type
    </sql>
    
    <select id="getSystemImagesByCondition" parameterType="java.util.Map"
            resultMap="ImageMap">
        SELECT system_id, system_name, type, operate_system, version, system_bit, system_disk, user_id, user_name, system_format, system_slim,system_size,
               to_char(upload_time, 'YYYY-MM-DD HH24:MI:SS') as upload_time, status, to_char(create_time, 'YYYY-MM-DD HH24:MI:SS') as create_time,
               error_type
        FROM tbl_vm_system
        <where>
            <if test="userId != null and userId !=''">
                and (user_id = #{userId} or type = 'public')
            </if>
            <if test="operateSystems != null and operateSystems.size()>0">
                and operate_system in
                <foreach collection="operateSystems" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="systemName != null and systemName !=''">
                and lower(system_name) like lower(CONCAT('%', #{systemName}, '%'))
            </if>
            <if test="statusList != null and statusList.size()>0">
                and status in
                <foreach collection="statusList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="types != null and types.size()>0">
                and type in
                <foreach collection="types" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="uploadTimeBegin != null and uploadTimeBegin != ''">
                <![CDATA[ and upload_time >= to_timestamp(#{uploadTimeBegin}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
            <if test="uploadTimeEnd != null and uploadTimeEnd != ''">
                <![CDATA[ and upload_time <= to_timestamp(#{uploadTimeEnd}, 'YYYY-MM-DD HH24:MI:SS') ]]>
            </if>
        </where>
        <if test="queryCtrl != null">
            <if test="queryCtrl.sortBy != null and queryCtrl.sortBy != '' and queryCtrl.sortOrder != null and queryCtrl.sortOrder != ''">
                order by ${queryCtrl.sortBy} ${queryCtrl.sortOrder}
            </if>
            <if test="queryCtrl.offset >=0 and queryCtrl.limit > 0">
                offset #{queryCtrl.offset} limit #{queryCtrl.limit}
            </if>
        </if>
    </select>

    <select id="getSystemImagesCount" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        SELECT COUNT(1) FROM tbl_vm_system WHERE 1 = 1
        <if test="userId != null and userId !=''">
            and (user_id = #{userId} or type = 'public')
        </if>
        <if test="operateSystems != null and operateSystems.size()>0">
            and operate_system in
            <foreach collection="operateSystems" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="systemName != null and systemName !=''">
            and lower(system_name) like lower(CONCAT('%', #{systemName}, '%'))
        </if>
        <if test="statusList != null and statusList.size()>0">
            and status in
            <foreach collection="statusList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="types != null and types.size()>0">
            and type in
            <foreach collection="types" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="uploadTimeBegin != null and uploadTimeBegin != ''">
            <![CDATA[ and upload_time >= to_timestamp(#{uploadTimeBegin}, 'YYYY-MM-DD HH24:MI:SS') ]]>
        </if>
        <if test="uploadTimeEnd != null and uploadTimeEnd != ''">
            <![CDATA[ and upload_time <= to_timestamp(#{uploadTimeEnd}, 'YYYY-MM-DD HH24:MI:SS') ]]>
        </if>
    </select>

    <select id="getVmImage" resultMap="ImageMap" parameterType="java.lang.Integer">
        SELECT
         <include refid="AllColumn"/>
        FROM tbl_vm_system WHERE system_id = #{systemId}
    </select>

    <select id="getSystemImagesPath" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT system_path FROM tbl_vm_system WHERE system_id = #{systemId}
    </select>

    <select id="getSystemNameCount" resultType="java.lang.Integer" parameterType="org.edgegallery.developer.model.system.VmSystem">
        SELECT COUNT(1) FROM tbl_vm_system WHERE system_name = #{systemName}
        <if test="userId != null and userId!=''">
            and user_id = #{userId}
        </if>
        <if test="systemId != null and systemId!=''">
            and system_id != #{systemId}
        </if>
    </select>

    <insert id="createSystemImage" parameterType="org.edgegallery.developer.model.system.VmSystem">
        insert into tbl_vm_system (system_name, type, operate_system, version, system_bit, system_disk, user_id, user_name, create_time, modify_time, status)
        values (#{systemName}, #{type}, #{operateSystem}, #{version}, #{systemBit}, #{systemDisk}, #{userId}, #{userName}, now(), now(), #{status})
    </insert>

    <update id="updateSystemImage" parameterType="org.edgegallery.developer.model.system.VmSystem">
        UPDATE tbl_vm_system
        SET system_name=#{systemName}, type=#{type},
            operate_system=#{operateSystem}, version=#{version},
            system_bit=#{systemBit}, system_disk=#{systemDisk}, modify_time=now()
        WHERE system_id = #{systemId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </update>

    <delete id="deleteSystemImage" parameterType="org.edgegallery.developer.model.system.VmSystem">
        DELETE FROM tbl_vm_system WHERE system_id = #{systemId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </delete>

    <update id="updateSystemImageStatus">
        UPDATE tbl_vm_system SET status = #{status} WHERE system_id = #{systemId}
    </update>

    <update id="updateSystemImageSlimStatus">
        UPDATE tbl_vm_system SET system_slim = #{slimStatus} WHERE system_id = #{systemId}
    </update>

    <update id="updateSystemImageIdentifier">
        UPDATE tbl_vm_system SET file_identifier = #{identifier} WHERE system_id = #{systemId}
    </update>

    <update id="updateSystemImageErrorType">
        UPDATE tbl_vm_system SET error_type = #{errorType} WHERE system_id = #{systemId}
    </update>

    <update id="updateSystemImageUploadInfo" parameterType="org.edgegallery.developer.model.system.UploadFileInfo">
        UPDATE tbl_vm_system
        SET status = #{status}, system_path = #{systemPath}, file_name=#{fileName},
            file_md5=#{fileMd5}, system_format=#{fileFormat}, upload_time=now(),
            system_size=#{fileSize}
        WHERE system_id = #{systemId}
    </update>

    <update id="updateSystemImageInfo">
        UPDATE tbl_vm_system
        SET file_md5=#{fileMd5}, system_size=#{fileSize}
        WHERE system_id = #{systemId}
    </update>
</mapper>