<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.edgegallery.developer.mapper.OpenMepCapabilityMapper">

    <resultMap id="GroupMap"
               type="org.edgegallery.developer.model.workspace.OpenMepCapabilityGroup">
        <id property="groupId" column="group_id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="OpenMEPList"
               type="org.edgegallery.developer.model.workspace.OpenMepApi">
        <result property="name" column="name"/>
        <result property="service" column="service"/>
        <result property="description" column="description"/>
        <result property="apiFileId" column="api_file_Id"/>
    </resultMap>

    <resultMap id="CapabilityMap"
               type="org.edgegallery.developer.model.workspace.OpenMepCapabilityDetail">
        <id property="detailId" column="detail_id"/>
        <result property="groupId" column="group_id"/>
        <result property="service" column="service"/>
        <result property="version" column="version"/>
        <result property="description" column="description"/>
        <result property="apiFileId" column="api_file_id"/>
    </resultMap>

    <resultMap id="OpenMEPDetail"
               type="org.edgegallery.developer.model.workspace.OpenMepCapabilityGroup">
        <id column="group_id" property="groupId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="description" property="description"/>
        <collection property="capabilityDetailList"
                    ofType="org.edgegallery.developer.model.workspace.OpenMepCapabilityDetail">
            <id column="detail_id" property="detailId"/>
            <result column="service" property="service"/>
            <result column="version" property="version"/>
            <result column="detail_description" property="description"/>
            <result column="provider" property="provider"/>
            <result column="group_id" property="groupId"/>
            <result column="api_file_id" property="apiFileId"/>
        </collection>
    </resultMap>

    <insert id="saveGroup"
            parameterType="org.edgegallery.developer.model.workspace.OpenMepCapabilityGroup">
        insert into
        tbl_openmep_capability (group_id, name, type,
        description)
        values
        ( #{groupId}, #{name}, #{type}, #{description})
    </insert>

    <insert id="saveCapability"
            parameterType="org.edgegallery.developer.model.workspace.OpenMepCapabilityDetail">
        insert into
        tbl_openmep_capability_detail (detail_id,
        group_id, service, version, description, api_file_id, provider)
        values
        ( #{detailId}, #{groupId}, #{service}, #{version}, #{description},
        #{apiFileId}, #{provider})
    </insert>

    <delete id="deleteGroup" parameterType="String">
        DELETE FROM
        tbl_openmep_capability_detail WHERE group_id = #{groupId};
        DELETE FROM
        tbl_openmep_capability WHERE group_id = #{groupId};
    </delete>

    <delete id="deleteCapability" parameterType="String">
        DELETE FROM
        tbl_openmep_capability_detail
        WHERE
        detail_id = #{param1};
    </delete>

    <select id="getOpenMepCapabilities" resultMap="GroupMap">
        SELECT
        *
        FROM
        tbl_openmep_capability
    </select>

    <select id="getOpenMepCapabilitiesDetail"
            resultMap="OpenMEPDetail">
        SELECT
        a.*, b.*, b.description as detail_description
        FROM
        tbl_openmep_capability a LEFT JOIN
        tbl_openmep_capability_detail b on a.group_id = b.group_id
    </select>

    <select id="getGroup" parameterType="String"
            resultMap="GroupMap">
        SELECT
        *
        FROM
        tbl_openmep_capability
        WHERE group_id = #{groupId}
    </select>

    <select id="getEcoGroupByName" parameterType="String" resultMap="GroupMap">
        SELECT
        *
        FROM
        tbl_openmep_capability
        WHERE name = #{name} and type = 'OPENMEP_ECO'
    </select>

    <select id="getGroupIdByDetailId" parameterType="String" resultType="java.lang.String">
        SELECT
        group_id
        FROM
        tbl_openmep_capability_detail
        WHERE detail_id= #{detailId}
    </select>

    <select id="getDetail" parameterType="String"
            resultMap="CapabilityMap">
        SELECT
        *
        FROM
        tbl_openmep_capability_detail
        WHERE detail_id =
        #{capabilityId}
    </select>

    <select id="getOpenMepCapabilitiesByGroupId"
            parameterType="String" resultMap="OpenMEPDetail">
        SELECT
        a.*, b.*, b.description as detail_description
        FROM
        tbl_openmep_capability a LEFT JOIN tbl_openmep_capability_detail b on
        a.group_id = b.group_id
        WHERE a.group_id = #{groupId}
    </select>

    <select id="getOpenMepList" resultMap="OpenMEPList">
        SELECT
        a.name,
        b.service,
        b.description,
        b.api_file_id
        FROM
        tbl_openmep_capability a
        LEFT JOIN tbl_openmep_capability_detail b ON a.group_id = b.group_id
        WHERE
        a.type = 'OPENMEP'
    </select>
    <select id="getOpenMepEcoList" resultMap="OpenMEPList">
        SELECT
        a.name,
        b.service,
        b.description,
        b.api_file_id
        FROM
        tbl_openmep_capability a
        LEFT JOIN tbl_openmep_capability_detail b ON a.group_id = b.group_id
        WHERE
        a.type = 'OPENMEP_ECO'
    </select>

</mapper>