<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.operation.OperationStatusMapper">
  <resultMap id="OperationStatusMap" type="org.edgegallery.developer.model.operation.OperationStatus">
    <id property="id" column="id"/>
    <result property="objectType" column="object_type"/>
    <result property="objectId" column="object_id"/>
    <result property="operationName" column="operation_name"/>
    <result property="progress" column="progress"/>
    <result property="status" column="status"/>
    <result property="errorMsg" column="error_msg"/>
  </resultMap>
  <resultMap id="ActionStatusMap" type="org.edgegallery.developer.model.operation.ActionStatus">
    <id property="id" column="id"/>
    <result property="objectType" column="object_type"/>
    <result property="objectId" column="object_id"/>
    <result property="actionName" column="action_name"/>
    <result property="progress" column="progress"/>
    <result property="status" column="status"/>
    <result property="errorMsg" column="error_msg"/>
    <result property="statusLog" column="status_log"/>
  </resultMap>

  <resultMap id="OperationStatusDetailMap" type="org.edgegallery.developer.model.operation.OperationStatus">
    <id property="id" column="id"/>
    <result property="objectType" column="object_type"/>
    <result property="objectId" column="object_id"/>
    <result property="operationName" column="operation_name"/>
    <result property="progress" column="progress"/>
    <result property="status" column="status"/>
    <result property="errorMsg" column="error_msg"/>
    <collection property="actionStatusList"
      ofType="org.edgegallery.developer.model.operation.ActionStatus">
      <id property="id" column="id"/>
      <result property="objectType" column="object_type"/>
      <result property="objectId" column="object_id"/>
      <result property="actionName" column="action_name"/>
      <result property="progress" column="progress"/>
      <result property="status" column="status"/>
      <result property="errorMsg" column="error_msg"/>
      <result property="statusLog" column="status_log"/>
    </collection>
  </resultMap>

  <sql id="OperationStatusAllColumn">
    a.id, a.operation_id, a.object_type, a.object_id, a.action_name, a.progress, a.status, a.error_msg, a.status_log,
    b.id, b.object_type, b.action_name, b.progress, b.status, b.error_msg, b.status_log
  </sql>
  <sql id="ActionStatusAllColumn">
    id, object_type, object_id, action_name, progress, status, error_msg, status_log
  </sql>

  <insert id="createOperationStatus">
    insert into tbl_operation_status (id, object_type, object_id, operation_name, progress, status, error_msg)
    values
    ( #{id}, #{objectType}, #{objectId}, #{operationName}, #{progress}, #{status}, #{errorMsg})
  </insert>

  <update id="modifyOperationStatus">
    UPDATE
    tbl_operation_status
    SET
    object_type = #{objectType}, object_id = #{objectId}, operation_name = #{operationName}, progress = #{progress},
    status = #{status}, error_msg = #{errorMsg}
    WHERE
    id = #{id}
  </update>

  <delete id="deleteOperationStatus" parameterType="String">
    DELETE FROM tbl_operation_status WHERE id = #{id};
  </delete>

  <select id="getOperationStatusById" parameterType="String" resultMap="OperationStatusDetailMap">
    SELECT
    <include refid="OperationStatusAllColumn"/>
    from tbl_operation_status a, tbl_action_status b
    where a.id=#{id} and b.operation_id=#{id}
  </select>

  <insert id="createActionStatus">
    insert into tbl_action_status (id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log)
    values
    ( #{action.id}, #{operationId}, #{action.objectType}, #{action.objectId}, #{action.operationName},
    #{action.progress}, #{action.status}, #{action.errorMsg})
  </insert>

  <update id="modifyActionStatus">
    UPDATE
    tbl_action_status
    SET
    object_type = #{objectType}, object_id = #{objectId}, action_name = #{operationName}, progress = #{progress},
    status = #{status}, error_msg = #{errorMsg}, status_log = #{statusLog}
    WHERE
    id = #{id}
  </update>

  <delete id="deleteActionStatus" parameterType="String">
    DELETE FROM tbl_action_status WHERE id = #{id};
  </delete>

  <select id="getActionStatusById" parameterType="String" resultMap="ActionStatusMap">
    SELECT
    id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log
    FROM tbl_action_status WHERE id = #{id}
  </select>

  <select id="getActionStatusByOperationId" parameterType="String" resultMap="ActionStatusMap">
    SELECT
    id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log
    FROM tbl_action_status WHERE operation_id = #{operationId}
  </select>

</mapper>