<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.operation.OperationStatusMapper">
  <resultMap id="OperationStatusMap" type="org.edgegallery.developer.model.operation.OperationStatus">
    <id property="id" column="id"/>
    <id property="userName" column="user_name"/>
    <result property="objectType" column="object_type"/>
    <result property="objectId" column="object_id"/>
    <result property="objectName" column="object_name"/>
    <result property="operationName" column="operation_name"/>
    <result property="progress" column="progress"/>
    <result property="status" column="status"/>
    <result property="errorMsg" column="error_msg"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>
  <resultMap id="ActionStatusMap" type="org.edgegallery.developer.model.operation.ActionStatus">
    <id property="id" column="id"/>
    <result property="objectType" column="object_type"/>
    <result property="objectId" column="object_id"/>
    <result property="actionName" column="action_name"/>
    <result property="progress" column="progress"/>
    <result property="status" column="status"/>
    <result property="errorMsg" column="error_msg"/>
    <result property="statusLog" column="status_log"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <sql id="ActionStatusAllColumn">
    id, object_type, object_id, action_name, progress, status, error_msg, status_log
  </sql>

  <insert id="createOperationStatus" parameterType="org.edgegallery.developer.model.operation.OperationStatus">
    insert into tbl_operation_status (id, user_name, object_type, object_id, object_name, operation_name, progress, status, error_msg, create_time, update_time)
    values
    ( #{id}, #{userName}, #{objectType}, #{objectId}, #{objectName}, #{operationName}, #{progress}, #{status}, #{errorMsg}, now(), now())
  </insert>

  <update id="modifyOperationStatus" parameterType="org.edgegallery.developer.model.operation.OperationStatus">
    UPDATE
    tbl_operation_status
    SET
    user_name = #{userName}, object_type = #{objectType}, object_id = #{objectId}, object_name= #{objectName}, operation_name = #{operationName}, progress = #{progress},
    status = #{status}, error_msg = #{errorMsg}, update_time = now()
    WHERE
    id = #{id}
  </update>

  <delete id="deleteOperationStatus" parameterType="String">
    DELETE FROM tbl_operation_status WHERE id = #{id};
  </delete>

  <select id="getOperationStatusById" parameterType="String" resultMap="OperationStatusMap">
    SELECT
    id, user_name, object_type, object_id, object_name, operation_name, progress, status, error_msg,
    to_char(create_time, 'YYYY-MM-DD HH24:MI:SS') as create_time, to_char(update_time, 'YYYY-MM-DD HH24:MI:SS') as update_time
    from tbl_operation_status
    where id=#{id}
  </select>

  <insert id="createActionStatus">
    insert into tbl_action_status (id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log, update_time)
    values
    ( #{action.id}, #{operationId}, #{action.objectType}, #{action.objectId}, #{action.actionName},
    #{action.progress}, #{action.status}, #{action.errorMsg}, #{action.statusLog}, now())
  </insert>

  <update id="modifyActionStatus" parameterType="org.edgegallery.developer.model.operation.ActionStatus">
    UPDATE
    tbl_action_status
    SET
    object_type = #{objectType}, object_id = #{objectId}, action_name = #{actionName}, progress = #{progress},
    status = #{status}, error_msg = #{errorMsg}, status_log = #{statusLog}, update_time = now()
    WHERE
    id = #{id}
  </update>

  <delete id="deleteActionStatus" parameterType="String">
    DELETE FROM tbl_action_status WHERE id = #{id};
  </delete>

  <select id="getActionStatusById" parameterType="String" resultMap="ActionStatusMap">
    SELECT
    id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log, to_char(update_time, 'YYYY-MM-DD HH24:MI:SS') as update_time
    FROM tbl_action_status WHERE id = #{id}
  </select>

  <select id="getActionStatusByOperationId" parameterType="String" resultMap="ActionStatusMap">
    SELECT
    id, operation_id, object_type, object_id, action_name, progress, status, error_msg, status_log, to_char(update_time, 'YYYY-MM-DD HH24:MI:SS') as update_time
    FROM tbl_action_status WHERE operation_id = #{operationId} order by update_time
  </select>
</mapper>