<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.ProjectMapper">
    <resultMap id="AppProjectMap" type="org.edgegallery.developer.model.workspace.ApplicationProject">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createDate" column="create_date"/>
        <result property="projectType" column="project_type"/>
        <result property="capabilityList" column="capabilities"
                typeHandler="org.edgegallery.developer.model.handler.JsonCollectionTypeHandler"/>
        <result property="industry" column="industries"
                typeHandler="org.edgegallery.developer.model.handler.JsonCollectionTypeHandler"/>
        <result property="platform" column="platform"
                typeHandler="org.edgegallery.developer.model.handler.JsonCollectionTypeHandler"/>
        <result property="iconFileId" column="icon_file_id"/>
        <result property="lastTestId" column="last_test_id"/>
        <result property="openCapabilityId" column="open_capability_id"/>
        <result property="deployPlatform" column="deploy_platform"/>
    </resultMap>

    <resultMap id="TestConfigMap" type="org.edgegallery.developer.model.workspace.ProjectTestConfig">
        <id property="testId" column="test_id"/>
        <result property="projectId" column="project_id"/>
        <result property="agentConfig" column="agent_config"
                typeHandler="org.edgegallery.developer.model.handler.JsonTypeHandler"/>
        <result property="imageFileIds" column="image_file_id"
                typeHandler="org.edgegallery.developer.model.handler.JsonCollectionTypeHandler"/>
        <result property="appApiFileId" column="app_api_file_id"/>
        <result property="deployFileId" column="deploy_file_id"/>
        <result property="privateHost" column="private_host"/>
        <result property="platform" column="platform"/>
        <result property="deployStatus" column="deploy_status"/>
        <result property="stageStatus" column="stage_status"
                typeHandler="org.edgegallery.developer.model.handler.JsonTypeHandler"/>
        <result property="pods" column="pods"/>
        <result property="accessUrl" column="access_url"/>
        <result property="errorLog" column="error_log"/>
        <result property="deployDate" column="deploy_date"/>
        <result property="hosts" column="hosts"
                typeHandler="org.edgegallery.developer.model.handler.JsonCollectionTypeHandler"/>
        <result property="workLoadId" column="work_load_id"/>
        <result property="appInstanceId" column="app_instance_id"/>
        <result property="lcmToken" column="lcm_token"/>
        <result property="packageId" column="package_id"/>
    </resultMap>

    <sql id="AppProject_AllColumn">
    id, name, provider, platform, industries, type, description, status,user_id,create_date, last_test_id,version, capabilities,project_type,icon_file_id, open_capability_id,deploy_platform
    </sql>
    
    <sql id="TestConfig_AllColumn">
    test_id, project_id,agent_config,image_file_id, app_api_file_id, deploy_file_id, private_host, platform,access_url,error_log,deploy_date,hosts,app_instance_id,work_load_id,pods,deploy_status,stage_status,lcm_token,package_id
    </sql>
    
    <insert id="save" parameterType="org.edgegallery.developer.model.workspace.ApplicationProject">
        insert into tbl_app_project (id, project_type, name, version, provider, platform, icon_file_id, type, description, status,
        user_id, create_date, capabilities, industries, deploy_platform)
        values
        ( #{id}, #{projectType}, #{name}, #{version}, #{provider},
        #{platform, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        #{iconFileId}, #{type}, #{description}, #{status},
        #{userId}, #{createDate},
        #{capabilityList, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        #{industry, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        #{deployPlatform} )
    </insert>

    <update id="updateProject" parameterType="org.edgegallery.developer.model.workspace.ApplicationProject">
        UPDATE
        tbl_app_project
        SET
        project_type = #{projectType}, name = #{name}, version = #{version}, provider = #{provider}, platform =
        #{platform, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        icon_file_id = #{iconFileId}, type = #{type}, description = #{description}, status = #{status}, user_id =
        #{userId},
        last_test_id = #{lastTestId}, capabilities =
        #{capabilityList, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        industries =
        #{industry, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        open_capability_id = #{openCapabilityId}, deploy_platform = #{deployPlatform}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM tbl_app_project WHERE id = #{projectId};
        DELETE FROM tbl_project_test_config WHERE project_id = #{projectId};
        DELETE FROM tbl_project_image WHERE project_id = #{projectId};
    </delete>

    <select id="getProject" parameterType="String" resultMap="AppProjectMap">
        SELECT
        <include refid="AppProject_AllColumn"/>
        FROM tbl_app_project where user_id = #{param1} and id = #{param2}
    </select>

    <select id="getProjectById" parameterType="String" resultMap="AppProjectMap">
        SELECT
        <include refid="AppProject_AllColumn"/>
        FROM tbl_app_project where id = #{projectId}
    </select>

    <select id="getAllProject" parameterType="String" resultMap="AppProjectMap">
        SELECT
        <include refid="AppProject_AllColumn"/>
        FROM tbl_app_project where user_id = #{userId}
        <if test="projectName != null and projectName != ''">
            and name like  CONCAT('%',#{projectName},'%')
        </if>
        order by create_date desc
    </select>

    <select id="getAllProjectNoCondtion"  resultMap="AppProjectMap">
        SELECT
        <include refid="AppProject_AllColumn"/>
        FROM tbl_app_project order by create_date desc
    </select>

    <select id="countProjects" parameterType="String" resultType="integer">
        SELECT COUNT(1) FROM tbl_app_project where user_id = #{userId}
    </select>

    <insert id="saveTestConfig" parameterType="org.edgegallery.developer.model.workspace.ProjectTestConfig">
        insert into
        tbl_project_test_config (test_id, project_id, app_api_file_id, deploy_file_id, private_host, platform,
        agent_config, image_file_id, hosts)
        values
        ( #{testId}, #{projectId}, #{appApiFileId}, #{deployFileId}, #{privateHost}, #{platform},
        #{agentConfig, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonTypeHandler},
        #{imageFileIds, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        #{hosts, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler} )
    </insert>

    <select id="getTestConfig" parameterType="String" resultMap="TestConfigMap">
        SELECT
        <include refid="TestConfig_AllColumn"/>
        FROM
        tbl_project_test_config
        WHERE
        test_id = #{test_id}
    </select>

    <select id="getTestConfigByProjectId" parameterType="String" resultMap="TestConfigMap">
        SELECT
        <include refid="TestConfig_AllColumn"/>
        FROM
        tbl_project_test_config
        WHERE
        project_id = #{projectId}
    </select>

    <select id="getTestConfigByDeployStatus" parameterType="String" resultMap="TestConfigMap">
        SELECT
        <include refid="TestConfig_AllColumn"/>
        FROM
        tbl_project_test_config
        WHERE
        deploy_status = #{deployStatus}
    </select>

    <update id="updateTestConfig" parameterType="org.edgegallery.developer.model.workspace.ProjectTestConfig">
        UPDATE
        tbl_project_test_config
        SET
        project_id = #{projectId}, agent_config =
        #{agentConfig, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonTypeHandler},
        image_file_id =
        #{imageFileIds, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        app_api_file_id = #{appApiFileId}, deploy_file_id = #{deployFileId}, private_host = #{privateHost}, platform =
        #{platform},
        hosts = #{hosts, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonCollectionTypeHandler},
        stage_status =
        #{stageStatus, jdbcType=OTHER, typeHandler=org.edgegallery.developer.model.handler.JsonTypeHandler}, access_url
        = #{accessUrl}, error_log = #{errorLog}, deploy_date = #{deployDate},
        pods = #{pods},
        app_instance_id = #{appInstanceId}, work_load_id = #{workLoadId}, deploy_status = #{deployStatus}, lcm_token =
        #{lcmToken},
        package_id = #{packageId}
        WHERE test_id = #{testId}
    </update>

    <update id="modifyTestConfig" parameterType="org.edgegallery.developer.model.workspace.ProjectTestConfig">
        UPDATE
        tbl_project_test_config
        SET project_id = #{projectId},
        deploy_file_id = #{deployFileId}, private_host = #{privateHost}, platform = #{platform}
        WHERE test_id = #{testId}
    </update>
</mapper>