<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.ProjectImageMapper">

    <resultMap id="ImageMap" type="org.edgegallery.developer.model.workspace.ProjectImageConfig">
        <id property="id" column="id"/>
        <result property="imageInfo" column="image_info"/>
        <result property="projectId" column="project_id"/>
        <result property="helmChartFileId" column="helm_chart_file_id"/>
    </resultMap>

    <insert id="saveImage" parameterType="org.edgegallery.developer.model.workspace.ProjectImageConfig">
        insert into
        tbl_project_image (id, image_info, project_id, helm_chart_file_id)
        values
        ( #{id},#{imageInfo},#{projectId},#{helmChartFileId})
    </insert>

    <delete id="deleteImage" parameterType="java.lang.String">
        delete from
        tbl_project_image where project_id = #{projectId}
    </delete>

    <select id="getAllImage" parameterType="java.lang.String" resultMap="ImageMap">
        select id, image_info, project_id, helm_chart_file_id from
        tbl_project_image where project_id = #{projectId}
    </select>
</mapper>