<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.capability.ProjectCapabilityMapper">
    <sql id="AllColumn">
     project_id,capability_id
    </sql>
    
    <insert id="insert" parameterType="org.edgegallery.developer.model.capability.ApplicationProjectCapability">
        insert into tbl_app_project_capability (<include refid="AllColumn"/>)
        values( #{projectId}, #{capabilityId})
    </insert>

    <delete id="delete" parameterType="org.edgegallery.developer.model.capability.ApplicationProjectCapability">
        DELETE FROM tbl_app_project_capability WHERE project_id = #{projectId} and capability_id=#{capabilityId}
    </delete>

    <delete id="deleteByProjectId" parameterType="String">
        DELETE FROM tbl_app_project_capability WHERE project_id = #{projectId}
    </delete>

    <select id="selectByProjectId" parameterType="String" resultType="org.edgegallery.developer.model.capability.ApplicationProjectCapability">
        SELECT <include refid="AllColumn"/> FROM tbl_app_project_capability where project_id = #{projectId}
    </select>
</mapper>