<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.developer.mapper.releasedpackage.ReleasedPackageMapper">
    <resultMap id="ReleasedPkgMap" type="org.edgegallery.developer.model.releasedpackage.ReleasedPackage">
        <result property="id" column="id"/>
        <result property="appStoreAppId" column="app_store_app_id"/>
        <result property="appStorePackageId" column="app_store_package_id"/>
        <result property="name" column="name"/>
        <result property="version" column="version"/>
        <result property="provider" column="provider"/>
        <result property="industry" column="industry"/>
        <result property="type" column="type"/>
        <result property="architecture" column="architecture"/>
        <result property="shortDesc" column="short_desc"/>
        <result property="synchronizeDate" column="synchronize_date"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="testTaskId" column="test_task_id"/>
    </resultMap>

    <sql id="packageColumn">
        id,app_store_app_id,app_store_package_id,name,version,provider,industry,type,architecture,short_desc,synchronize_date,user_id,user_name,test_task_id
    </sql>

    <insert id="createReleasedPackage">
        insert into tbl_released_package
        (id,app_store_app_id,app_store_package_id,name,version,provider,industry,type,architecture,short_desc,synchronize_date,user_id,user_name,test_task_id)
        values
        ( #{id},#{appStoreAppId}, #{appStorePackageId},#{name},#{version},#{provider},#{industry},#{type},
        #{architecture}, #{shortDesc},#{synchronizeDate},#{userId},#{userName},#{testTaskId})
    </insert>

    <select id="getReleasedPackageById" parameterType="java.lang.String"
            resultMap="ReleasedPkgMap">
        SELECT
        <include refid="packageColumn"/>
        from tbl_released_package where app_store_app_id=#{appId} and app_store_package_id =#{packageId}
    </select>

    <select id="getReleasedPackageByPkgId" parameterType="java.lang.String"
            resultMap="ReleasedPkgMap">
        SELECT
        <include refid="packageColumn"/>
        from tbl_released_package where app_store_package_id =#{packageId}
    </select>

    <delete id="deleteReleasedPackageById">
        delete from tbl_released_package where app_store_app_id =#{appId} and app_store_package_id=#{packageId}
    </delete>

    <delete id="deleteReleasedPackageByPkgId">
        delete from tbl_released_package where app_store_package_id=#{packageId}
    </delete>

    <select id="getAllReleasedPackages" parameterType="java.lang.String" resultMap="ReleasedPkgMap">
        SELECT
        <include refid="packageColumn"/>
        from tbl_released_package where 1=1
        <if test="name != null and name != ''">
            and name like CONCAT('%',#{name},'%')
        </if>
        order by synchronize_date desc
    </select>


</mapper>